	@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
	font-family: 'Poppins', sans-serif;
}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

[container] {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

[container] > div {
	margin: auto;
}

input {
	margin: 5px;
	padding: 10px;
	width: 500px;
	border: 1px solid #495450;
}

button,input {
	outline: none;
}

ul li {
	list-style-type: none;
}

button {
	cursor: pointer;
}
.btn {
	background: #fff;
	border: 2px solid #495450;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;

}

button:hover {
	background: #495450;
	color: #fff;
}

/*.a {
	border: 2px solid #495450;
}

.a,.b {

}*/

.output_con {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.output_con div {
	margin: auto;
	border: 2px solid #495450;
	height: 50vh;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	overflow-y: auto;
}